{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 1,
    "prettier/prettier": 2,
    "comma-dangle": 0,
    "@typescript-eslint/no-explicit-any": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
